---
import Descripcion from '../ui/descripcion/Descripcion.astro'
import Titulo from '../ui/titulo/titulo.astro'
---


<main>
    <Titulo />
    <Descripcion />
</main>

<style>
    main{
        background-color: #004d98;
        margin: 4rem;
        width: 50rem;
        margin-top: 7rem;
        padding-bottom: 2rem;
    }
</style>