---
import Header from '../layouts/header.astro'
import '../../src/styles/global.css';
import Main from '../layouts/main.astro'
import Button from '../ui/buttons/buttons.astro'
import Imgperson from '../ui/imgperson/imgperson.astro'
---

<!DOCTYPE html>
<html lang="en">
	<body>
		<Header />
		<Main />
		<Imgperson />
		<Button />

	
	</body>
</html>

<style>
	
</style>
