
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam quis dolorem vitae vero porro, molestias cupiditate inventore dignissimos dolores adipisci aspernatur odio beatae ullam tempore soluta voluptates quas, eum omnis.
Quos totam placeat, quae voluptatum quidem atque libero, natus, voluptate incidunt quaerat est doloribus minima. </p>


<style>
    p{
        color: white;
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin: 2rem 4rem 0rem 2rem;
        widows: 10rem;
        
    }
</style>