
<button> Learn more </button>
<button> Sign up </button>

<style>
    button{
        margin-left: 10rem;
        width: 10rem;
        height: 3rem;
        font-weight: bold;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        border-radius: 50px;
        border-bottom: rem;
        border-color: rgb(155, 255, 255);
        
    }
</style>